<div class="p-float-label">
  <input inputId="email" type="email" [formControl]="emailControl" pInputText [tabindex]="1">
  <label for="email">Email</label>
</div>
<small *ngIf="emailControl.dirty" id="email-help" class="p-error block">
  <ng-container *ngIf="emailControl.errors?.['required']">Email jest wymagany</ng-container>
  <ng-container *ngIf="emailControl.errors?.['email']">Email jest niepoprawny</ng-container>
  <ng-container *ngIf="emailControl.errors?.['emailUnique']">Email został już użyty do głosowania</ng-container>
</small>

<p-orderList [value]="selectedGames" [dragdrop]="true" controlsPosition="right">
  <ng-template pTemplate="header">
    <div class="header">
      Twoja lista gier
    </div>
    <div class="search">
      <p-autoComplete inputId="search" [formControl]="searchControl" [suggestions]="(searchTitles$ | async) || []"
                      field="name" placeholder="Wyszukaj grę..." [tabindex]="2"
                      (onSelect)="addGame($event)" (onBlur)="searchControl.setValue('')">
        <ng-template let-game pTemplate="item">
          <span>{{ game.name }}</span>&nbsp;<small *ngIf="!!game.yearPublished">({{ game.yearPublished }})</small>
        </ng-template>
      </p-autoComplete>
    </div>
  </ng-template>
  <ng-template let-game let-i="index" pTemplate="item">
    <app-game [index]="i" [game]="game" [badgeValue]="i | points">
      <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
              (click)="removeGame(i)"></button>
    </app-game>
  </ng-template>
</p-orderList>

<div class="button-row">
  <button pButton type="button" label="Wyślij swój głos" (click)="submitVote()"></button>
</div>

<p-confirmDialog rejectButtonStyleClass="p-button-text"></p-confirmDialog>
