<div class="p-float-label">
  <input inputId="email" type="email" pInputText>
  <label for="email">Email</label>
</div>

<div class="p-float-label">
  <p-autoComplete inputId="search" [formControl]="searchControl" [suggestions]="(searchTitles$ | async) || []"
                  field="name" (onSelect)="addGame($event)">
    <ng-template let-game pTemplate="item">
      <span>{{ game.name }}</span>&nbsp;<small>({{ game.yearPublished }})</small>
    </ng-template>
  </p-autoComplete>
  <label for="search">Wpisz tytuł gry...</label>
</div>

<p-orderList [value]="selectedGames" [dragdrop]="true">
  <ng-template let-game let-i="index" pTemplate="item">
    <div class="game-item">
      <p-badge size="xlarge" [value]="i | points" class="mr-2" [styleClass]="'badge-'+i"></p-badge>
      <div class="image-container">
        <img [src]="game.thumbnail" [alt]="game.name">
      </div>
      <div class="game-details">
        <h5 class="mb-2">{{ game.name }}</h5>
        <small>{{ game.yearPublished }}</small>
      </div>
      <div class="game-actions">
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
                (click)="removeGame(i)"></button>
      </div>
    </div>
  </ng-template>
</p-orderList>
