::ng-deep {
  .game-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;

    p-badge {
      margin-right: 1rem;

      .p-badge {
        background: #0f2310;
      }

      .badge-0 {
        background: #4caf50;
      }

      .badge-1, .badge-2 {
        background: #3d8c40;
      }

      .badge-3 {
        background: #2e6930;
      }

      .badge-4 {
        background: #1e4620;
      }
    }

    .image-container {
      height: 75px;
      width: 75px;
      margin-right: 1rem;
      position: relative;

      img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .game-details {
      flex: 1 1 0;

      h5 {
        margin: 0;
      }

      small {
        color: #999999;
      }
    }

    .game-actions {
      button {
        z-index: 99999;
      }
    }
  }
}
